{% extends 'review/base.html' %}
{% block content %}
{% if ticket_form %}
<h2>Ajouter une critique</h2>
<form method="post" enctype='multipart/form-data'>
    <h4 class="subtitle">Livre / article concerné</h4>
    {{ ticket_form.as_p }}
    <h4 class="subtitle">Critique</h4>
    {{ review_form.as_p }}
    {% csrf_token %}
    <button type="submit" >Envoyer</button>
</form>
{% else %}
<h2>Vous êtes en train de poster une réponse à :</h2>
{% comment %} si ticket en cours de rédaction
ne pas afficher le bouton de réponse {% endcomment %}
{% include 'review/partials/ticket_snippet.html' with ticket=ticket display=False %}
<form method="post">
    <h4 class="subtitle">Critique</h4>
    {{ review_form.as_p }}
    {% csrf_token %}
    <button type="submit" >Envoyer</button>
</form>
{% endif %}
{% endblock content %}