{% load static %}

<html>
    <head><title>LITRevu</title></head>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <body>
        {% if user.is_authenticated %}
        <div class="header">
            <div class="header__container">
                <div class="header__container__right"></div>
                <a href="{% url 'home' %}">
                    <h1 class="header__container__title">
                        LITReview
                    </h1>
                </a>
                <ul class="header__container__menu">
                    <li>
                        <a href="{% url 'home' %}">Flux</a>
                    </li>
                    <li>Posts</li>
                    <li>Abonnements</li>
                    <li>
                        <a href="{% url 'logout' %}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="content">
            {% block content %}{% endblock %}
            {% if user.is_authenticated %}
            {% endif %}
        </div>
    </body>
</html>