{% extends 'review/base.html' %}
{% block content %}
    <h2>Ajouter un utilisateur</h2>
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post" enctype='multipart/form-data'>
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Envoyer</button>
    </form>
    {% if followed|length > 0 %}
    <h2>Abonnements</h2>
    <ul>
        {% for user in followed %}
        <li>
            <p>
                {{ user }}
            </p>
            <p>
                <a href="{% url 'unfollow' user %}">Se désabonner</a>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if followers|length > 0 %}
    <h2>Abonnés</h2>
    <ul>
        {% for user in followers %}
        <li>
            <p>
                {{ user }}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}