.btn{
    display: flex;
    padding: 25px 20px;
    color: $textCol;
    text-decoration: none;
    border: 1px solid $secondary;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 250ms linear;
    background-color: transparent;

    &:hover{
        background-color: $secondary;
        translate: -5px -5px;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
}

.cancel{
    color: $secondary2;
}