// @use "buttons" as btn;

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;

    input,
    textarea{
        border: 1px solid $secondary;
        padding: 15px;
        background-color: $primary1;
        color: $textCol;
        text-align: center;
    }

    button{
        @extend .btn;
    }

    #id_rating{
        display: flex;
        gap: 20px;
    }
}