{% load static %}
{% load blog_extras %}

<div class="reviewBlock">
    <div class="reviewBlock__infos">
        <p>Critique publiée par {% get_author_display review.user %}</p>
        <p> {{ review.time_created }} </p>
    </div>
    <div class="reviewBlock__headline">
        <h3>{{ review.headline }}</h3>
        <div class="reviewBlock__headline__rate">
            {% for star in review.rate_iterator %}
            <div class="star"
            style="mask-image: url('{% static 'images/filled_star.png' %}')">
            </div>
            {% endfor %}
            {% for star in review.unrate_iterator %}
            <div class="star"
            style="mask-image: url('{% static 'images/empty_star.png' %}')">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="reviewBlock__body">
        <p>{{ review.body }}</p>
    </div>
    {% if review.ticket %}
    <div class="reviewBlock__body__ticket">
        <p>Ticket - {{ review.ticket.user }} </p>
        <h4>{{ review.ticket.title }} </h4>
        {% if review.ticket.image %}
        <div class="thumbnail"
        style="background-image: url('{{ review.ticket.image.url }}')"
        >
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% if user == review.user %}
    <div class="edit_buttons">
        <div
        class="delete"
        style="mask-image: url('{% static 'images/edit.svg'%}')"
        >
            <a href="{% url 'edit_review' review.id %}"></a>
        </div>
        <div
        class="delete"
        style="mask-image: url('{% static 'images/delete.svg'%}')"
        >
            <a href="{% url 'delete_review' review.id %}"></a>
        </div>

    </div>
    {% endif %}
</div>