{% load static %}
{% load blog_extras %}

<div class="reviewBlock">
    <div class="reviewBlock__infos">
        <p>Critique demandée par {% get_author_display ticket.user %}</p>
        <p>{{ ticket.time_created }}</p>
    </div>
    <div class="reviewBlock__headline">
        <h3>{{ ticket.title }}</h3>
    </div>
    <div class="reviewBlock__body">
        {% if ticket.description %}
        <p>{{ ticket.description }}</p>
        {% endif %}
        {% if ticket.image %}
        <img
        class="thumbnail"
        src="{{ ticket.image.url }}"
        alt="Illustration {{ ticket.title }}"
        >
        {% endif %}
        {% if display and not ticket|has_response %}
        <a class="btn" href="{% url 'add_review_to' ticket.id %}">Ajouter une critique</a>
        {% endif %}
        {% if user == ticket.user and buttons_display %}
        <div class="edit_buttons">
            <div
            class="delete"
            style="mask-image: url('{% static 'images/edit.svg'%}')"
                >
                    <a href="{% url 'edit_ticket' ticket.id %}" title="Modifier le billet"></a>
            </div>
            <div
            class="delete"
            style="mask-image: url('{% static 'images/delete.svg'%}')"
            >
                <a href="{% url 'delete_ticket' ticket.id %}" title="Supprimer le billet"></a>
            </div>
        </div>
        {% endif %}
    </div>
</div>