body,
h1,
h2,
h3,
h4,
ul,
p,
a{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    color: $textCol;
    background-color: $primary1;
}

// h1{
//     font-size: ;
// }

p,
li,
a,
input,
button,
textarea{
    font-size: 1.2rem;
}

h1{
    font-family: 'calligraphic';
    font-size: 3.5rem;
}

h2,
h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

ul{
    list-style: none;
}

.alert{
    margin-top: 30px;
}