// Colors

// $primary-color: #334F5D;
// $secondary-color: #DF7C48;
// $font-color: #EEB258;
$white: #ffffff;
$black: #000000;
$primary1: #0b2431;
$primary2: #a04120;
$secondary: #670280;
$secondary2: #EEB258;
$textCol: #d1d3c9;