.animated_header{
    animation: entrance 1s;
    @keyframes entrance {
        0% {
            translate: 0 -100%;
            opacity: 0;
        }
        100% {
            translate: 0 0;
            opacity: 1;
        }
    }
}

.header{
    background-color: $black;
    height: 100px;

    a{
        display: flex;
        align-items: center;
        height: 100%;
        color: $textCol;
        text-decoration: none;
    }

    &__container{
        display: flex;
        align-items: center;
        height: 100%;

        .animation{
            position: absolute;
            width: 100%;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: center;
            mask-repeat: no-repeat;
            mask-position: center;
            animation: travelling 10s;
            mask-position: -30%;
            z-index: 1;

            @keyframes travelling {
                0% {
                    mask-position: -30%;
                }
                100% {
                    mask-position: 130%;
                }
            }
        }

        div,
        ul{
            width: 45%;
        }

        h1{
            z-index: 100;
            text-align: center;
        }

        ul{
            display: flex;
            height: 100%;
            justify-content: flex-end;
            align-items: center;

            li{
                z-index: 100;
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 15px;
                color: $textCol;
                transition: background-color 250ms linear;

                &:hover{
                    background-color: $secondary;
                }
            }
        }
    }
}