@font-face {
  font-family: "calligraphic";
  src: url("src/fonts/Kingthings_Foundation-webfont.woff");
}
body,
h1,
h2,
h3,
h4,
ul,
p,
a {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  color: #d1d3c9;
  background-color: #0b2431;
}

p,
li,
a,
input,
button,
textarea {
  font-size: 1.2rem;
}

h1 {
  font-family: "calligraphic";
  font-size: 3.5rem;
}

h2,
h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

.alert {
  margin-top: 30px;
}

.btn, form button {
  display: flex;
  padding: 25px 20px;
  color: #d1d3c9;
  text-decoration: none;
  border: 1px solid #670280;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 250ms linear;
  background-color: transparent;
}
.btn:hover, form button:hover {
  background-color: #670280;
  translate: -5px -5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  gap: 20px;
}
form input,
form textarea {
  border: 1px solid #670280;
  padding: 15px;
  background-color: #0b2431;
  color: #d1d3c9;
  text-align: center;
}
form #id_rating {
  display: flex;
  gap: 20px;
}
form .subtitle {
  border-bottom: 1px solid #d1d3c9;
  width: 100%;
}

.follow_form {
  flex-direction: row;
}
.follow_form button {
  padding: 15px 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: auto;
  padding-top: 75px;
}

.reviewBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 20px;
  border: 1px solid #d1d3c9;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  animation: fadein 1s;
}
@keyframes fadein {
  0% {
    translate: -100px 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.reviewBlock__infos {
  display: flex;
  justify-content: space-between;
}
.reviewBlock__headline {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.reviewBlock__headline__rate {
  display: flex;
  gap: 5px;
}
.reviewBlock__headline__rate .star {
  width: 25px;
  height: 25px;
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: #EEB258;
}
.reviewBlock__body {
  display: flex;
  flex-direction: column;
}
.reviewBlock__body .thumbnail {
  margin: 30px 0 0 30px;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 150px;
  height: 300px;
}
.reviewBlock__body .btn, .reviewBlock__body form button, form .reviewBlock__body button {
  align-self: flex-end;
}
.reviewBlock__body__ticket {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border: 1px solid #d1d3c9;
}
.reviewBlock__body__ticket .thumbnail {
  margin: 0 0 0 30px;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 150px;
  height: 300px;
}
.reviewBlock .edit_buttons {
  display: flex;
  justify-content: flex-end;
}
.reviewBlock .edit_buttons .delete {
  width: 50px;
  height: 50px;
  mask-size: contain;
  background: #670280;
  cursor: pointer;
}
.reviewBlock .edit_buttons .delete a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.animated_header {
  animation: entrance 1s;
}
@keyframes entrance {
  0% {
    translate: 0 -100%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

.header {
  background-color: #000000;
  height: 100px;
}
.header a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #d1d3c9;
  text-decoration: none;
}
.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__container .animation {
  position: absolute;
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  mask-repeat: no-repeat;
  mask-position: center;
  animation: travelling 10s;
  mask-position: -30%;
  z-index: 1;
}
@keyframes travelling {
  0% {
    mask-position: -30%;
  }
  100% {
    mask-position: 130%;
  }
}
.header__container div,
.header__container ul {
  width: 45%;
}
.header__container h1 {
  z-index: 100;
  text-align: center;
}
.header__container ul {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.header__container ul li {
  z-index: 100;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  color: #d1d3c9;
  transition: background-color 250ms linear;
}
.header__container ul li:hover {
  background-color: #670280;
}

.content__home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
}
.content__home__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.content__home__feed {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.content__loginSection {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content__loginSection__signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 50px;
}
.content__loginSection__signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.subscribes_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribes_section form {
  margin: 0;
}
.subscribes_section ul {
  width: 80%;
  margin: 50px;
}
.subscribes_section ul li {
  width: 100%;
  min-height: 54px;
}
.subscribes_section ul li form {
  display: flex;
  justify-content: space-between;
}

.delete_confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

/*# sourceMappingURL=styles.css.map */
